/* Ensure the dashboard takes up the full height of the viewport */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Dashboard Container */
.dashboard-content {
  height: 87vh; /* Full viewport height */
  display: flex;
  flex-direction: column;
  box-sizing: border-box; /* Include padding in height calculation */
  background-color: var(--background-color); /* Use background-color variable */
}

/* Welcome Message */
.welcome-message h2 {
  margin: 0;
  font-size: 2rem;
  color: var(--text-color); /* Use text-color variable */
}

.welcome-message p {
  margin: 0.5rem 0 0;
  color: var(--text-color); /* Use stext-color variable */
}

/* Cards Section */
.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;  
  overflow-y: auto; /* Add scroll if content exceeds max-height */
  padding-right: 1rem; /* Add padding to prevent scrollbar overlap */
}

.card {
  background-color: var(--sbackground-color); /* Use sbackground-color variable */
  padding: 1.5rem;
  border-radius: 10px;
  max-height: 150px;
  box-shadow: 0 4px 8px var(--shadow-color); /* Use shadow-color variable */
  text-align: center;
  border: 1px solid var(--sborder-color); /* Use sborder-color variable */
}

.card h3 {
  margin: 0 0 1rem;
  font-size: 1.25rem;
  color: var(--text-color); /* Use text-color variable */
}

.card p {
  margin: 0 0 1.5rem;
  font-size: 2rem;
  font-weight: bold;
  color: var(--primary-color); /* Use primary-color variable */
}

.card-button {
  background-color: var(--primary-color); /* Use primary-color variable */
  color: var(--stext-color); /* Use stext-color variable */
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.card-button:hover {
  background-color: var(--primary-hover); /* Use primary-hover variable */
  color: var(--text-color); /* Use text-color variable */
}

.map-container {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.map-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #374151;
}